<% team_count = teams.count %>

<% teams.each_with_index do |team, index| %>

    <% if index % columns == 0 %>
        <div class="row">
    <% end %>

    <div class="col-sm-6 col-md-4">
      <div class="row">
        <div class="col-xs-10">
          <%= image_tag("blank.gif", class: "flag flag-#{team.country.downcase}") %>
          <span class="vertical-center"><%= I18n.t team.country, :scope => 'countries' %></span>
        </div>
        <div class="col-xs-2">
          <td>
            <%= link_to(team_path(team), method: :delete, data: {confirm: t('model.messages.destroy_really', model: ("#{Team.model_name.human} #{I18n.t team.country, :scope => 'countries'}")), method: :delete}, title: t('model.messages.destroy', model: ("#{Team.model_name.human} #{I18n.t team.country, :scope => 'countries'}"))) do %>
                <i class="fa fa-trash-o"></i>
            <% end %>
          </td>
        </div>
      </div>
    </div>

    <% if team_count == (index + 1) || (index != 0 && index % columns == columns - 1) %>
        </div>
    <% end %>
<% end %>