<%= render partial: 'commons/background_image', locals: {image_name: 'background_image_01.jpg'} %>
<% content_for(:main_title, 'Teams') %>
<% content_for(:sub_title, 'Description if needed') %>
<div>Something about teams</div>