<%= render partial: 'commons/background_image', locals: {image_name: 'background_image_01.jpg'} %>
<% content_for(:main_title, Team.model_name.human_plural) %>
<% content_for(:sub_title, 'WM-Brasilien 2014') %>

<div class="visible-sm">
  <%= render :partial => 'teams', locals: {columns: 2, team: @team} %>
</div>

<div class="hidden-sm">
  <%= render :partial => 'teams', locals: {columns: 3, team: @team} %>
</div>

<%= link_to I18n.t('model.messages.add', model: Team.model_name.human), games_path, class: "ggp2-btn btn-default" %>