<%= render partial: 'commons/background_image', locals: {image_name: 'background_image_01.jpg'} %>
<% content_for(:main_header, 'Administration') %>
<% content_for(:sub_header, 'Could Show for example the game with date') %>
<div>Teams</div>