div.well
  = simple_form_for tournament_settings_form,
                    url: tournament_settings_path,
                    as: 'tournament_settings',
                    html: {class: 'form-horizontal', role: 'form'},
                    defaults: {label_html: {class: 'col-sm-3 col-lg-2'},
                               input_wrapper_html: {class: 'col-sm-7 col-md-6 col-lg-5'},
                               required: false} do |f|

    = f.input :tournament_title
    = f.input :champion_title

    = render partial: 'commons/form_buttons',
             locals: {form_builder: f,
                      submit_button_label: t('general.save'),
                      wrapper_html: {class: 'col-sm-offset-3 col-lg-offset-2 col-sm-9 col-lg-10'}}