= render partial: 'settings/menu', locals: {section: :tournament, section_translation: t('general.tournament')}

= render partial: 'form', locals: {tournament_settings_form: @tournament_settings_form}