<%= render partial: 'commons/background_image', locals: {image_name: 'background_image_01.jpg'} %>
<% content_for(:main_title, 'Benutzerverwaltung') %>
<% content_for(:sub_title, 'Shows the last person who needs help or so') %>
<p>Something about Benutzer</p>