div.well.well-sm
  = form_for venue, html: {class: 'form-horizontal', role: 'form'} do |f|
    fieldset
      div.form-group
        = f.label :city, class: 'col-xs-3 col-sm-2 col-lg-1 control-label'
        div.col-xs-9.col-sm-10.col-lg-11
          div.row
            div.col-xs-12.col-sm-7.col-md-6.col-lg-5
              = f.text_field :city, class: 'form-control'
          - if venue.errors.get(:city) && !venue.errors.get(:city).empty?
            div.row
              div.field_with_errors
                p.help-block.col-xs-12
                  = venue.errors.full_messages_for(:city).first

      div.form-group
        = f.label :stadium, class: 'col-xs-3 col-sm-2 col-lg-1 control-label'
        div.col-xs-9.col-sm-10.col-lg-11
          div.row
            div.col-xs-12.col-sm-7.col-md-6.col-lg-5
              = f.text_field :stadium, class: 'form-control'
          - if venue.errors.get(:stadium) && !venue.errors.get(:stadium).empty?
            div.row
              div.field_with_errors
                p.help-block.col-xs-12
                  = venue.errors.full_messages_for(:stadium).first

      div.form-group
        = f.label :capacity, class: 'col-xs-3 col-sm-2 col-lg-1 control-label'
        div.col-xs-9.col-sm-10.col-lg-11
          div.row
            div.col-xs-5.col-sm-3.col-lg-2
              = f.text_field :capacity, class: 'form-control'
          - if venue.errors.get(:capacity) && !venue.errors.get(:capacity).empty?
            div.row
              div.field_with_errors
                p.help-block.col-xs-12
                  = venue.errors.full_messages_for(:capacity).first

      div.form-group
        div.col-sm-offset-2.col-lg-offset-1.col-sm-10.col-lg-11
          div.visible-xs
            div.pull-right
              div.btn-toolbar
                = f.submit class: 'btn btn-default'
                = link_to I18n.t('general.cancel'), venues_path, class: "btn btn-default"
          div.hidden-xs
            div.btn-toolbar
              = f.submit class: 'btn btn-default'
              = link_to I18n.t('general.cancel'), venues_path, class: "btn btn-default"