body#login-page {
  padding-top: 0;

  background-size: cover;
  background-position: 0% 50%;
  background-image: url(image_path('background/background_image.jpg'));
  background-attachment: fixed;

  #login-page-color-layer {
    min-height: 100%;

    background-color: rgba($_ci-color-1, .75);
  }

  .row {
    margin-left: 0;
    margin-right: 0;
  }

  .col-xs-12 {
    padding-left: 0;
    padding-right: 0;
  }

  #login, #registration, #forget-password {
    padding: 60px 40px;
    background-color: white;

    @media (max-width: $screen-xs-max) {
      padding: 40px 20px;
    }

    .intro {
      margin-bottom: 10px;
      line-height: 1.5;
    }
  }

  #login {
    margin: 20% 0;

    h1 {
      margin-top: 0;
      margin-bottom: 20px;
      font-size: 20px;
      line-height: 1;

      .small {
        margin-top: 5px
      }
    }

    input[type=submit] {
      margin: 20px 0 30px;

    }
  }

  #registration {
    margin: 5% 0;

    //the capcha box may overflows the screen width on small devices
    overflow: auto;
  }

  #forget-password {
    margin: 20% 0;
  }

  #foto-copyright {
    float: right;
    margin-top: -30px;
    margin-right: 10px;

    font-size: 10px;
    color: $gray-dark;

    a {
      color: $gray-dark;

      &:hover {
        color: $gray-dark;
      }
    }
  }
}