._statistic-item {
  margin: 0 0 20px;
  padding: 10px;
  color: white;
  //background-color: #FDD835;
  background-color: #607D8B;
  height: 110px;
  text-align: center;

  ._item-value {
    font-size: 45px;
    line-height: 1.4;
  }
}