#user-tips-table {

  ._tips-table-btn-toolbar {
    @media (max-width: $screen-sm-min) {
      margin-top: 5px;
    }
  }

  ._date {
    color: $_weaker-text-color;
    line-height: 1.5;
  }
}

#tips-form {

  .form-group {
    margin-bottom: 25px;
  }

  ._submit-group {
    margin-top: 10px;
  }

  ._team-name-32 {
    margin: 5px 0;
  }

  input[type=text]._score-input {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    width: 45px;
  }

  .field_with_errors {
    display: inline-block;
    @extend .has-error;
  }
}