#user-tips-table {

  ._tips-table-btn-toolbar {
    @media (max-width: $screen-sm-min) {
      margin-top: 5px;
    }
  }
}

#tips-form {

  .form-group {
    margin-bottom: 25px;
  }

  ._submit-group {
    margin-top: 10px;
  }

  ._team-name-32 {
    margin: 5px 0;
  }

  .field_with_errors {
    display: inline-block;
    @extend .has-error;
  }
}