<%= render partial: 'commons/background_image', locals: {image_name: 'background_image_00.jpg'} %>

<% content_for(:main_title, Game.model_name.human_plural) %>
<% content_for(:sub_title, 'What I really wanted to say :-)') %>

<%= link_to "Spiele anlegen", games_path, class: "btn btn-default" %>


<div>Something about teams</div>