- content_for(:title, @presenter.model_translation(plural: true))

= render partial: 'form',
         locals: {presenter: @presenter, legend: t('model.messages.create', model: @presenter.model_translation)}
