div.well
  = form_for match, html: {class: 'form-horizontal', role: 'form'} do |f|
    fieldset
      -unless match.new_record?
        legend = match.message_name
    fieldset
      div.form-group
        = f.label :position, class: 'col-xs-3 col-md-2 control-label'
        div.col-xs-9
          div.row
            div.col-xs-4.col-sm-2
              = f.text_field :position, class: 'form-control'
          - if match.errors.get(:position) && !match.errors.get(:position).empty?
            div.row
              div.field_with_errors
                p.help-block.col-xs-12
                  = match.errors.full_messages_for(:position).first

      div.form-group
        = f.label :team_1, class: 'col-xs-3 col-md-2 control-label'
        div.col-xs-9.col-md-10
          div.row
            div.col-xs-12.col-sm-7.col-md-6.col-lg-5
              = f.select :team_1_id, Team.order_by_country_name_asc.collect { |team| [team.name, team.id] }, {include_blank: true}, class: 'form-control'
          - if match.errors.get(:team_1) && !match.errors.get(:team_1).empty?
            div.row
              div.field_with_errors
                p.help-block.col-xs-12
                  = match.errors.full_messages_for(:team_1).first

      div.form-group
        = f.label :team_2, class: 'col-xs-3 col-md-2 control-label'
        div.col-xs-9.col-md-10
          div.row
            div.col-xs-12.col-sm-7.col-md-6.col-lg-5
              = f.select :team_2_id, Team.order_by_country_name_asc.collect { |team| [team.name, team.id] }, {include_blank: true}, class: 'form-control'
          - if match.errors.get(:team_2) && !match.errors.get(:team_2).empty?
            div.row
              div.field_with_errors
                p.help-block.col-xs-12
                  = match.errors.full_messages_for(:team_2).first

      div.form-group
        = f.label :placeholder_team_1, class: 'col-xs-3 col-md-2 control-label'
        div.col-xs-9.col-md-10
          div.row
            div.col-xs-12.col-sm-7.col-md-6.col-lg-5
              = f.text_field :placeholder_team_1, class: 'form-control'
          - if match.errors.get(:placeholder_team_1) && !match.errors.get(:placeholder_team_1).empty?
            div.row
              div.field_with_errors
                p.help-block.col-xs-12
                  = match.errors.full_messages_for(:placeholder_team_1).first

      div.form-group
        = f.label :placeholder_team_2, class: 'col-xs-3 col-md-2 control-label'
        div.col-xs-9.col-md-10
          div.row
            div.col-xs-12.col-sm-7.col-md-6.col-lg-5
              = f.text_field :placeholder_team_2, class: 'form-control'
          - if match.errors.get(:placeholder_team_2) && !match.errors.get(:placeholder_team_2).empty?
            div.row
              div.field_with_errors
                p.help-block.col-xs-12
                  = match.errors.full_messages_for(:placeholder_team_2).first

      div.form-group
        = f.label :date, class: 'col-xs-3 col-md-2 control-label'
        div.col-xs-9.col-md-10
          div.row
            div.form-inline.col-xs-12
              = f.datetime_select :date, {}, class: 'form-control ggp2-form-control'
          - if match.errors.get(:date) && !match.errors.get(:date).empty?
            div.row
              div.field_with_errors
                p.help-block.col-xs-12

      div.form-group
        = f.label :aggregate, class: 'col-xs-3 col-md-2 control-label'
        div.col-xs-9.col-md-10
          div.row
            div.col-xs-12.col-sm-7.col-md-6.col-lg-5
              = f.select :aggregate_id, Aggregate.groupless_aggregates.collect { |aggregate| [aggregate.name, aggregate.id] }, {}, class: 'form-control'
          - if match.errors.get(:aggregate) && !match.errors.get(:aggregate).empty?
            div.row
              div.field_with_errors
                p.help-block.col-xs-12
                  = match.errors.full_messages_for(:aggregate).first

      div.form-group
        = f.label :venue, class: 'col-xs-3 col-md-2 control-label'
        div.col-xs-9.col-md-10
          div.row
            div.col-xs-12.col-sm-7.col-md-6.col-lg-5
              = f.select :venue_id, Venue.all.collect { |venue| [venue.city, venue.id] }, {}, class: 'form-control'
          - if match.errors.get(:venue) && !match.errors.get(:venue).empty?
            div.row
              div.field_with_errors
                p.help-block.col-xs-12
                  = match.errors.full_messages_for(:venue).first

      div.form-group
        div.col-xs-offset-3.col-lg-offset-2.col-xs-9.col-lg-10
          div.visible-xs
            div.pull-right
              div.btn-toolbar
                = f.submit class: 'btn btn-primary'
                = link_to I18n.t('general.cancel'), matches_path, class: "btn btn-default"
          div.hidden-xs
            div.btn-toolbar
              = f.submit class: 'btn btn-primary'
              = link_to I18n.t('general.cancel'), matches_path, class: "btn btn-default"