- content_for(:title, Match.model_name.human_plural)

= render partial: 'form', locals: {match: @match,
                                  legend: t('model.messages.create', model: Match.model_name.human)}