@import 'twbs_overwrites_and_vars';

html,
body {
  height: 100%;
}

#header_and_content {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto (-$ggp2-footer-height);
  padding: 0 0 $ggp2-footer-height;
}

#header {
  height: $ggp2-border-top-height + $navbar-height;
}

#footer {
  padding: 10px 0 10px 0;
  height: $ggp2-footer-height;
  background-color: $ggp2-color-grey-white;
}

.ggp2_content {
  background-color: transparentize(white, 0.40)
}

.ggp2_background_image {
  background-image: image-url('background_image_00.jpg');
  background-size: cover;
  height: 300px;
}