//order is important
// 1. import overwrite bootstrap variables
@import 'twbs_variables';
// 2. bootstrap and other predefined
@import 'bootstrap';
@import 'font-awesome';
// 3. import bootstrap overwrite here
@import 'twbs_override';
// 4. application style
@import 'ggp2';
@import 'nav';
@import 'ggp2_rankings';
@import 'ggp2_award_ceremonies';
@import 'ggp2_badges';
@import 'ggp2_champion_tips';
@import 'match_schedule';
@import 'tips_table';
// 5. additional css files
@import 'flags';