@import "variables";

@import "bootstrap-sprockets";
@import "bootswatch/paper/variables";

@import "bootstrap";
@import "bootswatch/paper/bootswatch";

@import 'font-awesome';

@import 'alerts';
@import 'basic';
@import 'button';
@import 'form';
@import 'header';
@import 'header_image';
@import 'headlines';
@import 'flags';
@import 'footer';
@import 'jumbotron';
@import 'navbar';
@import 'nav';
@import 'static_form';
@import 'table';
@import 'well';

@import 'features/award_ceremonies';
@import 'features/badges';
@import 'features/champion_tips';
@import 'features/comments';
@import 'features/match_tips';
@import 'features/rankings';
@import 'features/statistics';
@import 'features/sessions';
@import 'features/tips';

@import 'world_flags/world_flags-16 ';
@import 'world_flags/world_flags-24 ';
@import 'world_flags/world_flags-32 ';
@import 'world_flags/world_flags-48 ';
@import 'world_flags/world_flags-64 ';
