//order is important
// 1. import overwrite bootstrap variables
@import 'twbs_variables';
// 2. bootstrap and other predefined
@import 'bootstrap';
@import 'font-awesome';
// 3. import bootstrap overwrite here
@import 'twbs_theme';
// 4. application style
@import 'ggp2';
// 5. additional css files
@import 'flags';
