._emblem-with-team-name {

  &._team-name-16 {
    line-height: 16px;
  }

  ._team-16-with-emblem-24 {
    line-height: 24px;
  }

  &._team-name-24 {
    font-size: 17px;
    line-height: 24px;
  }

  &._team-name-32 {
    font-size: 18px;
    line-height: 32px;
  }

  .flag, .club-logo {
    vertical-align: top;
  }

  .flag {
    margin-right: 10px;
  }

  .club-logo {
    margin-right: 5px;
  }
}

.club-logo {
  text-align: center;
}

.club-logo-16 {
  height: 16px;
  width: 16px;
  font-size: 14px;
  line-height: 16px;
}

.club-logo-24 {
  height: 24px;
  width: 24px;
  font-size: 20px;
  line-height: 24px;
}

.club-logo-32 {
  height: 32px;
  width: 32px;
  font-size: 24px;
  line-height: 32px;
}

.club-logo-48 {
  height: 48px;
  width: 48px;
  font-size: 30px;
  line-height: 48px;
}

.club-logo-64 {
  height: 64px;
  width: 64px;
  font-size: 42px;
  line-height: 64px;
}

