html,
body {
  height: 100%;
}

#header-and-content {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto (-$ggp2-footer-height);
  padding: 0 0 $ggp2-footer-height;
}

#header {
  height: $ggp2-border-top-height + $navbar-height;
}

#footer {
  color: $ggp2-footer-color;
  padding: 0px 0px 5px 0px;
  height: $ggp2-footer-height;
  background-color: $ggp2-footer-background-color;

  .container {
    display: table;
    height: 100%;
  }
  .row {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    line-height: 40px;
  }

  i {
    vertical-align: middle;
  }

  a {
    color: #89c200;
    text-decoration: none;

    &:hover {
      color: $ggp2-footer-color;
    }
  }
}

.vertical-center {
  vertical-align: middle;
}

//.overlap {
//  margin-top: (1/10 * $ggp2-header-image-height) - $ggp2-header-image-height;
//}

.ggp2-title {
  background-color: transparentize($ggp2-content-background-color, 0.50);
  padding: 0px 10px 0px 10px;
}

.ggp2-main-content-area {
  background-color: transparentize($ggp2-content-background-color, 0.40);
  padding: 0 0 10px;
  margin-bottom: 10px;
}

.ggp2-landing-top-spacer {
  height: 80px;
}

.ggp2-header-image {
  background-size: cover;
  background-image: url(image_path('background/background_image_01.jpg'));

  .container {
    padding-top: 20px;
  }
}

.ggp2-landing-header-image {
  @extend .ggp2-header-image;
  min-height: $ggp2-landing-header-image-min-height;
}

.ggp2-restricted-header-image {
  @extend .ggp2-header-image;
  min-height: $ggp2-restricted-header-image-min-height;
}


.gray-text {
  color: $gray;
}

table {

  tr.link-row {
    cursor: pointer;
  }
}

form {

  input[type=text].score-input {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    width: 45px;
  }

  .submit-group {
    margin-top: 20px;
    padding-top: 15px;
    border-top: 1px solid $legend-border-color;
  }

  .legend-neutralize {
    margin-top: -$line-height-computed;
    margin-bottom: $line-height-computed;
  }

  &.result-form {

    .field_with_errors {
      display: inline-block;
    }
  }

  .alert-danger {

    ul {
      margin-top: 10px;
    }
  }

  button {
    &.ggp2-unstyled-button, &:active, &:hover {

      border: none;
      background: none;
      outline: none;
    }
  }
}

.panel {
  .panel-body {
    .ggp2-panel-body-box:not(:first-child) {
      margin-top: $panel-body-padding;
    }
  }
}

.ggp2-alert {
  margin-top: 15px;
}

.ggp2-text-normal {
  font-weight: normal;
}

.ggp2-weakened {
  color: $gray-light;
  font-size: ceil(($font-size-base * 0.90))
}

.ggp2-no-wrap {
  white-space: nowrap;
}

.ggp2-phrase span {

  padding: 2px 4px;
  font-size: $font-size-base * 1.6;
  line-height: $line-height-computed * 1.7;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: $font-size-base * 0.1;
  background-color: transparentize($ggp2-secondary-color, 0.2);
}

.ggp2-phrase-xs {
  margin-bottom: 10px;

  span {
    font-size: $font-size-base * 1.2 !important;
    line-height: $line-height-computed * 1.2 !important;
  }
}

.ggp2-jumbotron {

  h2 {
    margin-top: 0;
    padding-bottom: 10px;
    margin-bottom: 40px;
    border-bottom: 1px solid $gray-light;
  }

  hr {
    border-color: $gray-light;
  }

  p {

    font-size: $font-size-base;

    &.lead {
      font-size: $font-size-base * 1.5;
    }

    &.ggp2-value {
      font-size: $font-size-base * 2.5;
    }

    &.ggp2-label {
      margin-bottom: 30px;
      font-size: $font-size-base;
    }
  }

}

.ggp2-btn-group {
  margin-bottom: 15px;
}

.ggp2-static-form {

  .ggp2-static-form-group {
    margin-bottom: 20px;
    // Make form groups behave like rows
    @include make-row();
  }

  // Only right align form labels here when the columns stop stacking
  @media (min-width: $screen-sm-min) {

    .ggp2-static-form-label {
      text-align: right;
    }
  }

  .ggp2-static-form-label {
    font-weight: bold;
  }
}

.ggp2-static-form-lead-values {

  .ggp2-static-form-label {
    padding-top: ($padding-base-vertical);
  }

  .ggp2-static-form-value {
    //styled according .lead
    font-size: floor(($font-size-base * 1.15));
    font-weight: 200;
    line-height: 1.4;

    @media (min-width: $screen-sm-min) {
      font-size: ($font-size-base * 1.5);
    }
  }
}

.ggp2-comment-box {
  padding: 25px 0;
  border-bottom: 1px solid $gray-lighter;

  &:first-child {
    border-top: 1px solid $gray-lighter;
  }

  .title a {
    font-weight: bold;
    font-size: $font-size-base*1.5;
    color: $ggp2-emphasize-color;
  }
}
