.badges-box {

  text-align: center;
  margin-bottom: 25px;

  .fa {
    margin: 10px 0;
    display: block;
    font-size: $font-size-base*7;
  }

  .badge {
    float: none;
    margin-bottom: 5px;
    font-size: $font-size-base;
    color: #fff;
    text-shadow: -1px -1px 0px #666;
  }
}