html,
body {
  height: 100%;
}

#header-and-content {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto (-$ggp2-footer-height);
  padding: 0 0 $ggp2-footer-height;
}

#header {
  height: $ggp2-border-top-height + $navbar-height;
}

#footer {
  color: $ggp2-footer-color;
  padding: 0px 0px 5px 0px;
  height: $ggp2-footer-height;
  background-color: $ggp2-footer-background-color;

  .container {
    display: table;
    height: 100%;
  }
  .row {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    line-height: 40px;
  }

  i {
    vertical-align: middle;
  }

  a {
    color: #89c200;
    text-decoration: none;

    &:hover {
      color: $ggp2-footer-color;
    }
  }
}

.vertical-center {
  vertical-align: middle;
}

//.overlap {
//  margin-top: (1/10 * $ggp2-header-image-height) - $ggp2-header-image-height;
//}

.ggp2-title {
  background-color: transparentize($ggp2-content-background-color, 0.50);
  padding: 0px 10px 0px 10px;
}

.ggp2-main-content-area {
  background-color: transparentize($ggp2-content-background-color, 0.40);
  padding: 0 30px 10px 30px;
  margin-bottom: 10px;
}

.ggp2-header-image {
  background-image: image-url('background_image_00.jpg');
  background-size: cover;
  height: $ggp2-header-image-height;
}

.gray-text {
  color: $gray;
}

table {

  tr.link-row {
    cursor: pointer;
  }
}

form {

  input[type=text].score-input {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    width: 45px;
  }

  .submit-group {
    margin-top: 20px;
    padding-top: 15px;
    border-top: 1px solid $legend-border-color;
  }

  .legend-neutralize {
    margin-top: -$line-height-computed;
    margin-bottom: $line-height-computed;
  }

  &.result-form {

    .field_with_errors {
      display: inline-block;
    }
  }

  .alert-danger {

    ul {
      margin-top: 10px;
    }
  }
}

.normal {
  font-weight: normal;
}

.weakened {
  color: $gray-light;
  font-size: ceil(($font-size-base * 0.90))
}