@import url("http://fonts.googleapis.com/css?family=Lato:400,700,900,400italic");

$ggp2-navbar-top-border-color: #89c200;

$ggp2-content-background-color:  #f5f5f5;

$ggp2-footer-color: #ededed;
$ggp2-footer-background-color: #353535;


////header-height
$ggp2-border-top-height: 10px;
////footer-height
$ggp2-footer-height: 120px;

$ggp2-background-image-height: 300px;

.ggp2-navbar-fixed-top {
  @extend .navbar-fixed-top;
  opacity: 0.95;
  border-top: $ggp2-border-top-height solid $ggp2-navbar-top-border-color;
}

.ggp2-btn {
  @extend .btn;
  margin: 10px 0px 10px 0px;
}