//@import url("http://fonts.googleapis.com/css?family=Lato:400,700,900,400italic");

$ggp2-navbar-top-border-color: $ggp2-emphasize-color;

$ggp2-content-background-color: #fff;

$ggp2-footer-color: #ededed;
//$ggp2-footer-background-color: #f6f6f6;
$ggp2-footer-background-color: $ggp2-secondary-color;

////header-height
$ggp2-border-top-height: 3px;
////footer-height
$ggp2-footer-height: 120px;

$ggp2-restricted-header-image-min-height: 140px;
$ggp2-landing-header-image-min-height: 380px;

.navbar-fixed-top {
  opacity: 0.95;
  border-top: $ggp2-border-top-height solid $ggp2-navbar-top-border-color;
}

.field_with_errors {
  @extend .has-error;
}

//hack
//moves the label in a form right close to input field on xs small screen
//https://www.bountysource.com/issues/1036528-horizontal-form-problem-jumping-label-for-different-screen-width-when-col-xs-is-set
.form-horizontal {
  @media (min-width: $screen-xs-min) {
    .control-label {
      text-align: right;
    }
  }
}

//hack
//fixes collapsed block elements in form-inline have top height
//fixes block element have margin right
//fixes form-groups who belong together don't have spacing
//fixes nested forms (horizontal-form -> inline-form) inline form element have spacing
.ggp2-form-group {
  @extend .form-group;
}

.form-inline {
  @media (max-width: $screen-xs-max) {
    .ggp2-form-group-tighter {
      //@extending an outer selector from within @media is deprecated.
      //@extend .form-group; is not
      //.form-group has just margin-bottom
      margin-bottom: 15px;
      margin-top: -12px;
    }
    //only necessary in nested forms like (horizontal-form -> inline-form)
    .ggp2-form-control {
      //@extending an outer selector from within @media is deprecated.
      //@extend .form-control;
      //.form-control has just padding-right
      padding-right: ($input-height-base * 1.25);
      margin-bottom: 10px;
    }
  }
  @media (min-width: $screen-sm-min) {
    .ggp2-form-group {
      margin-top: 10px;
      margin-right: 10px;
    }
  }
}

.well {
  border: none;
  border-radius: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.page-header {
  margin-top: $line-height-computed * 1.1
}

.panel-heading {
  font-weight: bold;
}

.panel-info {
  background-color: $body-bg;
}

.btn {
  margin-bottom: 5px;
}

.nav-pills {

  li {
    a {
      color: $text-color;

      &:hover {
        color: $text-color
      }
    }
  }
}

.btn-toolbar {
  a {
    margin-left: 5px;
  }
}

//fixes wrong input button height in firefox compared to a or button buttons
.btn {
  height: 34px;

  &.btn-sm {
    height: 30px;
  }
}