<p>Hallo <%= @resource.nickname %>,</p>

<p>
  Du hast das Zurücksetzen deines Passworts beantragt.<br/>
  Bitte benutzen den folgenden Link um ein neues Passwort zu vergeben.
</p>

<p><%= link_to 'Neues Passwort vergeben', edit_password_url(@resource,
                                                            :reset_password_token => @token,
                                                            protocol: Ggp2.config.url_protocol) %></p>

<p>
  Wenn du das Zurücksetzen deines Passworts nicht beantragt hast, ignorieren einfach diese E-Mail.<br>
  Dein bisheriges Passwort bleibt bestehen, solange du kein neues vergibst.
</p>
