footer#footer
  div.container
    div.row
      div.col-md-4
        a href="#" Privacy
        | &middot;
        a href="#" Impressum
      div.col-md-4
        a href="#"
          i.fa.fa-google-plus-square.fa-2x
        '&nbsp;
        a href="#"
          i.fa.fa-facebook-square.fa-2x
        '&nbsp;
        a href="#"
          i.fa.fa-twitter-square.fa-2x
        '&nbsp;
        a href="#"
          i.fa.fa-github.fa-2x
      div.col-md-4
        |
          (R.&nbsp;Sturm/pixelio.de) &middot;
          &copy;&nbsp;2013-2014&nbsp;gramie