<footer id="footer">
  <div class="container">
    <!--<p class="pull-right">-->
    <!--<button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-arrow-up"></span> Back to-->
    <!--top-->
    <!--</button>-->
    <!--</p>-->
    <div class="row">
      <div class="col-md-4">
        <a href="#">Privacy</a> &middot;
        <a href="#">Impressum</a>
      </div>
      <div class="col-md-4">
        <a href="#"><i class="fa fa-google-plus-square fa-2x"></i></a>&nbsp;
        <a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>&nbsp;
        <a href="#"><i class="fa fa-twitter-square  fa-2x"></i></a>&nbsp;
        <a href="#"><i class="fa fa-github fa-2x"></i></a>
      </div>
      <div class="col-md-4">
        (R.&nbsp;Sturm/pixelio.de) &middot;
        &copy;&nbsp;2013-2014&nbsp;gramie
      </div>
    </div>
  </div>
</footer>