<footer id="footer">
  <div class="container">
    <p class="pull-right">
      <button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-arrow-up"></span> Back to
        top
      </button>
    </p>
    <p>&copy; 2013 gramie &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a> &middot; Rainer Sturm/pixelio.de</p>
  </div>
</footer>