<div class="row">

  <div class="span3 pull-right" id="main-login-area">
    <div class="text-right">Logout</div>
  </div>

  <div class="span4" id="main-logo-area">
    <%#= link_to "GGP2", root_path, class: 'brand' %>
    <p>2014 FIFA World Cup Brazil</p>
  </div>
  <div class="span5" id="main-navigation-area">
    header one
    header two
    header three
    <!--<ul class="nav nav-pills">-->
    <!--<li>-->
    <!--<%#= link_to('Phasen/Gruppen', aggregates_path) %>-->
    <!--</li>-->
    <!--<li>-->
    <!--<%#= link_to('Games', games_path) %>-->
    <!--</li>-->
    <!--<li>-->
    <!--<%#= link_to('Teams', teams_path) %>-->
    <!--</li>-->
    <!--</ul>-->
  </div>
</div>