<header id="header">
  <div class="navbar navbar-default ggp2-navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <%= render :partial => 'layouts/navigation/toggle_button' %>
        <a class="navbar-brand" href="#">GGP2</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="#standing">Standing</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#Logout">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>